# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

build/
bin/
tmp*

data/4oph_raw_super.pdb
data/4oph_raw_unit.pdb
data/4oph_*.psf
data/4oph_*.cor
